.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container {
  width: 818px;
  height: 697px;
  top: 182px;
  left: 311px;
  border-radius: 4px;
  box-shadow: 0px 4px 16px 0px #7b879429;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-image {
  width: 485px;
  height: 364px;
  top: 214px;
  left: 477px;
}

.congrats-head {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #334155;
}

.about-time {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #334155;
}

.re-btn {
  width: 130px;
  height: 40px;
  top: 791px;
  left: 655px;
  padding: 8px, 32px, 8px, 32px;
  border-radius: 4px;
}
